<h1>Let's Eat Burgers!</h1>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burgerAdd">Burger Name:</label>
    <input type="text" id="burgerAdd" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>


<h2>Devour it!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour it!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        
        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>
